h1{
    text-align: center;
    margin-bottom: 50PX;
    margin-top:100PX;
    }
    
    table
    {
        MARGIN-LEFT:150PX;
        margin-top: 50px;
    
    }

body{
    justify-content: center;
    margin: 200px;

}